<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title><%= docInfo.title %></title>
    <% include ./inc/mate-info.ejs %>
</head>
<body>
    <div id="react-output">
        <%- reactOutput %>
    </div>

    <!-- 
    <a href="/mall/search">
        /mall/search
    </a>
    <br>
    <a href="/mall/search/list">
        /mall/search/list
    </a>
    <br>
    <a href="/mall/search/filter">
        /mall/search/filter
    </a>
    <br>
    <a href="/mall/detail">
        /mall/detail
    </a>
    <br>
    <a href="/mall/detail/coupons">
        /mall/detail/coupons
    </a>
    <br>
    <a href="/mall/detail/img">
        /mall/detail/img
    </a>
    <br> 
    -->

   <script src="http://<%= docInfo.config.css_server %><%= docInfo.config.rev %>/js/common/common.js"></script>

    <script>
    !function(){
      var socket = io.connect();
      socket.on('news', function (data) {
        console.log(88)
        console.log(data);
        socket.emit('my other event', { my: 'data' });
        $("#name").on('click', function(e){
          $('#name').html(data.dat).css("color", "red");
        });
      });
    }();    

    </script>
</body>
</html>

