@charset "utf-8";
* {
    margin: 0;
    padding: 0
}

html body {
    overflow-x: hidden;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    height: 100%
}

body {
    width: 100%;
    height: 100%;
    overflow: auto;
    font-family: "San Francisco Display","Helvetica Neue","黑体";
    color: #4a4a4a
}

body,dd,dl,fieldset,form,h1,h2,h3,h4,input,ol,p,pre,textarea,ul {
    margin: 0;
    font-size: 100%;
    line-height: 1
}

a,article,b,dd,div,dl,dt,em,footer,h1,h2,h3,header,i,li,menu,nav,p,section,span,strong,ul {
    -webkit-tap-highlight-color: transparent
}

button,input,input[type=search],input[type=submit],input[type=reset],input[type=button] {
    -webkit-appearance: none
}

input::-webkit-search-cancel-button {
    display: none
}

:focus {
    outline: 0
}

img {
    background: url(../../images/loadimg.png) center no-repeat #EBEDF0;
    background-size: 75% auto;
    font-size: 0;
    line-height: 0
}

a {
    display: inline-block;
    text-decoration: none
}